page-book-list{
  .book:hover{
    background-color: #007aff;
    color: white;
  }

  .isLent {
    background-color: #aeaeae;
    color: white;
  }

  .isFree {
    background-color: lightcyan;
  }
}
